div {
    width: 400px;
    margin: 0 auto;
  }
  
body {
  background-color: #d19b9b;
}

h1, h4 {
  font-weight: 300;
}

#index-banner {
  background-image: url("background-image.png");
  background-size: cover;
  background-position: center;
  height: 500px;
}

.btn-large {
  border-radius: 25px;
}

input[type="text"] {
  border-radius: 25px;
  border: 1px solid #ccc;
  padding: 10px;
  width: 100%;
  font-size: 16px;
}

#prediction {
  margin-top: 50px;
}
